
<mat-card class="mat-elevation-z14 pt-5 card-user col-12"  >
  <mat-card-title>
    <h3 class="configuration"> <mat-icon>settings</mat-icon> Configuration user {{userCard.id}} </h3>
  </mat-card-title>

  <mat-card-actions >
    <form class="example-form">

      <mat-form-field appearance="outline">
        <mat-label>Nom</mat-label>
        <input matInput placeholder="Nom" [(ngModel)]="userCard._nom" name="nom">

      </mat-form-field>

      <p>
        <mat-form-field appearance="outline">
          <mat-label>Prénom</mat-label>
          <input matInput placeholder="Prénom" [(ngModel)]="userCard._prenom" name="prenom">
        </mat-form-field>
      </p>
      <mat-form-field appearance="outline">
        <mat-label>Nombre d'enfants</mat-label>
        <input matInput placeholder="Nombre d'enfants" [(ngModel)]="userCard._nombre_enfants" disabled name="enfant" min="0" type="number">
      </mat-form-field>

    </form>

  </mat-card-actions>
</mat-card>

